<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=3D"http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv=3D"Content-Type"
          content=3D"text/html;
          charset=3DUTF-8">
    <title>buntebildung-freiebildung.de</title>
</head>
<body>
<table cellpadding="0"
       cellspacing="0"
       border="0"
       class="outer">
    <tr>
        <td>
            <table cellpadding="0"
                   cellspacing="20"
                   border="0"
                   class="inner">
                <tr>
                    <td>
                        <h1 class="header-title" lang="de">
                            Vernetzt euch gegen Studiengebühren!
                        </h1>
                        <p class="header-subtitle" lang="de">
                            Nutzt unsere Plattform um den Widerstand zu organisieren. Gemeinsam bringen wir den Druck auf die Straßen!
                        </p>
                    </td>
                    <td width="20%">
                        <a href="http://www.buntebildung-freiebildung.de" target="_blank">
                            <img src="http://buntebildung-freiebildung.de/assets/img/logo_transparent.png"
                                 alt="Logo der Initiative Bunte Bildung - Freie Bildung">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                        <div class="space"></div>
                        <p lang="de">Liebe Welt,</p>
                        <p land="de">
                            seit Wochen arbeiten wir an einer <strong>sicheren, anonymen und einfachen</strong> Form der <strong>landesweiten Kommunikation</strong> aller Betroffenen und Studierenden. Auch wenn der Kreis der Betroffenen weit größer ist als alleinig die Studierendenschaft, so ist es bisher noch nicht gelungen flächendeckend die Bevölkerung von der Einführung von Studiengebühren zu informieren.
                        </p>
                        <p land="de">
                            Um gemeinsam und voralleim landesweit Druck auf die Landesregierung auszuüben, müssen wir uns organisieren und die Massen mobilisieren. Lasst uns an gemeinsamen Aktionen arbeiten und diese mit Hilfe unserer Plattform planen.
                        </p>
                        <center>
                            <a href="http://chat.buntebildung-freiebildung.de/signup_email" target="_blank">
                                <img src="http://buntebildung-freiebildung.de/assets/img/mattermost_screenshot.png"
                                     alt="Logo der Initiative Bunte Bildung - Freie Bildung" class="img-shadow">
                            </a>
                        </center>
                        <p class="space"></p>
                        <p lang="de">
                            <center>
                                <h3>Mehr Informationen zu unserer Plattform (Mattermost) gibt hier auf unserer Seite:</h3>
                                 <p class="space"></p>
                                <a class="button" href="http://buntebildung-freiebildung.de/vernetzen/">Vernetzt euch!<small>www.buntebildung-freiebildung.de/vernetzen</small></a>
                            </center>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                        <div class="space"></div>
                        <h1 lang="de">Rückblick<small>Was bisher geschah</small></h1>
                        <p lang="de">
                            Im Wintersemester 2017/18 sollen Studiengebühren in Baden-Württemberg eingeführt werden.<!--
                            --><sup>[<a href="https://beteiligungsportal.baden-wuerttemberg.de/de/informieren/service/pressemitteilung/pid/erhebung-von-gebuehren-fuer-internationale-studierende-und-das-zweitstudium/" target="_blank">1</a>]</sup>
                            Für Studierende im <strong>Zweitstudium kommen 650€</strong> und für <strong>internationale Studierende 1500€</strong> Studiengebühren pro Semester hinzu; zusätzlich zu dem ohnehin hohen Studienbeitrag von 165,50€.<!--
                            --><sup>[<a href="https://www.student.uni-stuttgart.de/studienorganisation/formalitaeten/gebuehren-und-beitraege/" target="_blank">2</a>]</sup>
                            Das Semesterticket kostet für Stuttgarter Studierende 203€.<!--
                            --><sup>[<a href="https://tickets.ssb-ag.de/index.php/product/62/show/0/0/0/0/buy" target="_blank">3</a>]</sup> Außerdem soll landesweit der Studienbeitrag pauschal auf 70€ erhöht werden, und das ohne Angaben von Gründen, obwohl die Ausgaben der meisten Universitäten in den vergangenen Jahren stagnierten.<!--
                            --><sup>[<a href="http://www.statistik-bw.de/shp/2015-16/pages/hhp_2015_16.pdf" target="_blank">4</a>]</sup>
                        </p>
                        <p lang="de">
                            Die Landesregierung plant, so die fehlenden <strong>48 Mio. € des Wissenschaftsministeriums</strong> einzuholen - auf Kosten der Studierenden. Nicht nur wird so ein Zeichen FÜR Elitenbildung und GEGEN Bildungsfreiheit gesetzt. Solch eine Gesetzesänderung schränkt die soziale Mobilität der betroffenen Studierenden schwerwiegend ein. Menschen aus bildungsferneren sozialen Milieus wird der Zugang zur akademischen Ausbildung immer weiter erschwert. <strong>Bestehende Bildungshemmnisse werden mit solchen Maßnahmen nicht abgebaut!</strong>
                        </p>
                        <hr>
                        <div class="space"></div>
                        <h1>TL;DR <small>to long; didn't read</small></h1>
                        <p lang="de">Es sollen sehr bald Studiengebühren wieder eingeführt werden in Baden-Württemberg. Wir wollen das verhindern und haben eine Plattform mit allen Informationen aufgesetzt. Wir klären aber nicht nur auf, sondern helfen bei der Vernetzung. Hierzu nutzen wir Open-Source Programme wie Mattermost. Eine Art sicherer und anonymer Chat: Eine gelungene Kollaborationslösung. <strong>Vernetzt euch mit uns und leistet landesweit organisierten Widerstand, um endlich die Aufmerksamkeit der Presse und Landesregierung zu erhalten!</strong></p>
                        <p lang="de">
                            <ul>
                                <li>Hier geht es zur Anmeldung: <a href="http://chat.buntebildung-freiebildung.de/signup_email" target="_blank">http://chat.buntebildung-freiebildung.de/signup_email</a></li>
                                <li>Hier gibt es Informationen zum Chat: <a href="http://www.buntebildung-freiebildung.de/vernetzen" target="_blank">http://www.buntebildung-freiebildung.de/vernetzen</a></li>
                                <li>Hier gibt es allgemeine Informationen zu Studiengebühren: <a href="http://www.buntebildung-freiebildung.de" target="_blank">http://www.buntebildung-freiebildung.de</a></li>
                            </ul>
                        </p>
                        <p><br></p>
                        <p><br></p>
                        <p>Mit besten Wünschen,</p>
                        <p>Initiative Bunte Bildung - Freie Bildung<br><small><i>Stuttgart, der 24. Januar 2017</i></small></p>
                    </td>
                </tr>
            </table>

            <div class="footer">
                <p lang="de">
                    Urheber dieser E-Mail ist Michael Czechowski, Sprecher der Initiative Bunte Bildung - Freie Bildung. Ihre E-Mail-Adresse haben wir mittels Internetrecherchen gesammelt. Falls Sie nicht mit der Nutzung Ihrer E-Mail-Adresse für den gelegentlichen Versand von Informationen zur Einführung von Studiengebühren in Baden-Württemberg einverstanden sind, dann schreiben Sie bitte eine kurze E-Mail an <a href="mailto:info@buntebildung-freiebildung.de?subject=Abmelden">info@buntebildung-freiebildung.de</a> um dich abzumelden.
                </p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>