<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=3D"http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv=3D"Content-Type"
          content=3D"text/html;
          charset=3DUTF-8">
    <title>buntebildung-freiebildung.de</title>
</head>
<body>
<table cellpadding="0"
       cellspacing="0"
       border="0"
       class="outer">
    <tr>
        <td>
            <table cellpadding="0"
                   cellspacing="20"
                   border="0"
                   class="inner">
                <tr>
                    <td>
                        <h1 class="header-title" lang="de">
                            Studiengebühren gemeinsam verhindern!
                        </h1>
                        <p class="header-subtitle" lang="de">
                            Gemeinsam die Wiedereinführung von Studiengebühren in
                            Baden-Württemberg verhindern.
                        </p>
                    </td>
                    <td width="20%">
                        <a href="http://www.buntebildung-freiebildung.de" target="_blank">
                            <img src="http://buntebildung-freiebildung.de/assets/img/logo_transparent.png"
                                 alt="Logo der Initiative Bunte Bildung - Freie Bildung">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                        <div class="space"></div>
                        <p lang="de">Sehr
                            {{#ifCond sex 'f'}}geehrte{{else}}geehrter{{/ifCond}} {{name}},</p>
                        <p lang="de">
                            helfen Sie uns bitte bei der Vernetzung. Im Wintersemester 2017/18 sollen Studiengebühren in Baden-Württemberg eingeführt werden.<!--
                            --><sup>[<a href="https://beteiligungsportal.baden-wuerttemberg.de/de/informieren/service/pressemitteilung/pid/erhebung-von-gebuehren-fuer-internationale-studierende-und-das-zweitstudium/" target="_blank">1</a>]</sup>
                            Für Studierende im <strong>Zweitstudium kommen 650€</strong> und für <strong>internationale Studierende 1500€</strong> Studiengebühren pro Semester hinzu; zusätzlich zu dem ohnehin hohen Studienbeitrag von 165,50€.<!--
                            --><sup>[<a href="https://www.student.uni-stuttgart.de/studienorganisation/formalitaeten/gebuehren-und-beitraege/" target="_blank">2</a>]</sup>
                            Das Semesterticket kostet für Stuttgarter Studierende 203€.<!--
                            --><sup>[<a href="https://tickets.ssb-ag.de/index.php/product/62/show/0/0/0/0/buy" target="_blank">3</a>]</sup> Außerdem soll landesweit der Studienbeitrag pauschal auf 70€ erhöht werden und das ohne Angaben von Gründen, obwohl die Ausgaben der meisten Universitäten in den vergangenen Jahren stagnierten.<!--
                            --><sup><a href="http://www.statistik-bw.de/shp/2015-16/pages/hhp_2015_16.pdf" target="_blank"></a></sup>
                        </p>
                        <p lang="de">
                            Die Landesregierung plant hiermit die fehlenden <strong>48 Mio € des Wissenschaftsministeriums</strong> einzuholen. Und das alles auf Kosten von Studierenden. Nicht nur dass hier ein Zeichen FÜR Elitenbildung und GEGEN Bildungsfreiheit gesetzt wird, sondern wird durch die Gesetzesänderung unwiederruflich die soziale Mobilität behindert. Menschen aus bildungsferneren sozialen Milieus wird der Zugang zur akademischen Ausbildung immer weiter erschwert. <strong>Bestehende Bildungshemmnisse werden mit solchen Maßnahmen nicht abgebaut!</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                        <div class="space"></div>
                        <h2 lang="de">Was wir tun können</h2>
                        <h3 lang="de">1. Informieren</h3>
                        <p lang="de">Zur Zeit handelt es sich lediglich um einen Gesetzesentwurf, der aller Wahrscheinlichkeit nach erst im April oder Mai beschlossen werden soll. Bis dahin haben wir Zeit alle Betroffenen von der geplanten Einführung von Studiengebühren zu infromieren und aufzuklären.</p>
                        <p lang="de">Auf unserer Platform <a href="http://www.buntebildung-freibildung.de" target="_blank">www.buntebildung-freiebildung.de</a> haben wir möglichst alle Informationen zur Wiedereinführung von Studiengebühren aufgelistet und sämtliche Quellen offengelegt.</p>
                        <h3 lang="de">2. Organisieren</h3>
                        <p lang="de">Wir möchten uns vernetzen! Wir möchten uns organisieren, um landesweite Aktionen zu planen. Wir wollen öffentlichkeitswirksame Proteste initieren und über unsere Platform organisieren. Hierfür haben wir einen sicheren und anonymisierten Chat eingerichtet. Die Lösung heißt Mattermost: Eine sichere, anonyme und vorallem einfache Open-Source Kollaborations-Platform! Die Anmeldung dauert keine 30 Sekunden.</p>
                        <p lang="de">
                            <center>
                                <a class="button" href="http://buntebildung-freiebildung.de/vernetzen/">Vernetzt euch!<small>www.buntebildung-freiebildung.de/vernetzen</small></a>
                            </center>
                        </p>
                        <h3 lang="de">3. Mobilisieren</h3>
                        <p lang="de">Auch nach einigen Demonstrationen (<i>Heidelberg und Stuttgart</i>), einer Hörsaal-Besetzung (<i>Albert-Ludwigs-Universität Freiburg</i>) und zahlreichen Protestaktionen ist das mediale Interesse an unserer Thematik noch sehr gering. <strong>Wir können NOCH nicht genug Druck auf die Landesregierung aufbauen, um endlich mit den Verantwortlichen in einen offenen Diskurs zu treten und die geplanten Gesetzesänderungen diplomatisch zu diskutieren.</strong> Wir sehen nicht ein warum alleinig Studierende für die fehlende Summe im Haushalt des Wissenschaftsministerium aufkommen sollen!</p>
                        <p lang="de"><strong>Hilf uns bitte bei der Vernetzung! Leite diese E-Mail weiter an alle Betroffenen, an alle Interessieren und alle, die bereit sind organisiert und solidarisch zusammen gegen die Einführung von Studiengebühren vorzugehen!</strong></p>
                        <hr>
                        <div class="space"></div>
                        <h1>TL;DR <small>to long; didn't read</small></h1>
                        <p lang="de">Es sollen sehr bald Studiengebühren wieder eingeführt werden in Baden-Württemberg. Wir wollen das verhindern und haben eine Plattform mit allen Informationen aufgesetzt. Wir klären aber nicht nur auf, sondern helfen bei der Vernetzung. Hierzu nutzen wir Open-Source Programme wie Mattermost. Eine Art sicherer und anonymer Chat: Eine gelungene Kollaborationslösung. <strong>Vernetzt euch mit uns und leistet landesweit organisierten Widerstand, um endlich die Aufmerksamkeit der Presse und Landesregierung zu erhalten!</strong></p>
                        <p lang="de">
                            <ul>
                                <li>Hier geht es zur Anmeldung: <a href="http://chat.buntebildung-freiebildung.de/signup_email" target="_blank">http://chat.buntebildung-freiebildung.de/signup_email</a></li>
                                <li>Hier gibt es Informationen zum Chat: <a href="http://www.buntebildung-freiebildung.de/vernetzen" target="_blank">http://www.buntebildung-freiebildung.de/vernetzen</a></li>
                                <li>Hier gibt es allgemeine Informationen zu Studiengebühren: <a href="http://www.buntebildung-freiebildung.de" target="_blank">http://www.buntebildung-freiebildung.de</a></li>
                            </ul>
                        </p>
                        <p><br></p>
                        <p><br></p>
                        <p>Mit besten Wünschen,</p>
                        <p>Initiative Bunte Bildung - Freie Bildung<br><small><i>Stuttgart, der 24. Januar 2017</i></small></p>
                    </td>
                </tr>
            </table>

            <div class="footer">
                <p lang="de">
                    Urheber dieser E-Mail ist Michael Czechowski, Sprecher der Initiative Bunte Bildung - Freie Bildung. Ihre E-Mail-Adresse haben wir mittels Internetrecherchen gesammelt. Falls Sie nicht mit der Nutzung Ihrer E-Mail-Adresse für den gelegentlichen Versand von Informationen zur Einführung von Studiengebühren in Baden-Württemberg einverstanden sind, dann schreiben Sie bitte eine kurze E-Mail an <a href="mailto:info@buntebildung-freiebildung.de?subject=Abmelden">info@buntebildung-freiebildung.de</a> um dich abzumelden.
                </p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>