<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=3D"http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv=3D"Content-Type"
          content=3D"text/html;
          charset=3DUTF-8">
    <title>buntebildung-freiebildung.de</title>
</head>
<body>
<table cellpadding="0"
       cellspacing="0"
       border="0">
    <tr>
        <td colspan="3">
            <h1>
                Studiengebühren verhindern!
            </h1>
            <p class="subtitle">
                Gemeinsam die Wiedereinführung von Studiengebühren in
                Baden-Württemberg verhindern.
            </p>
            <div class="space"></div>
            <p>Sehr
                {{#ifCond sex 'f'}}geehrte{{else}}geehrter{{/ifCond}} {{name}},</p>
            <p>
                Wir, die Gründer/innen der Initiative Bunte Bildung - Freie
                Bildung sind eine Gruppe von Studierenden aus Stuttgart und
                möchten mit allen Mitteln die Wiedereinführung von
                Studiengebühren für internationale Studierende und
                Studierende
                im Zweitstudium verhindern. Außerdem sind wir entschlossen
                die pauschale Erhöhung der Verwaltungskosten von 10€
                unterbinden.
            </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>