$background: #d6d6d6;
$white: #fff;

html,
div,
p,
h1,
h2,
h3,
span,
b,
strong,
a {
  font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif
}

html {
  background: $background;
  margin: 0;
  padding: 0;
  width: 100%;
}

table {
  margin: 0 auto;
  padding: 50px;
  background: $white;
  max-width: 800px;
  min-width: 360px;
  width: 80%;
}

.space {
  margin-top: 32px;
}

.subtitle {
  font-size: 30px;
}